#profile {
    display: flex;
    padding: 3rem 5rem;
    justify-content: center;
    gap: 4rem;
    background-color: antiquewhite;
    .profile-pic {
        width: 30rem;
        height: 30rem;
        border-radius: 6%;
        background-color: skyblue;
        img {
            width: 30rem;
            height: 30rem;
            border-radius: 6%;
            transition: 0.5s ease;
        }
        img:hover {
            transform: rotate(10deg);
        }
    }
    .bar {
        width: 1px;
        height: 51vh;
        background-color: grey;
        @media screen and (max-width: 900px) {
            width: 71vw;
            height: 1px;
        }
    }
    .about-me {
        padding: 8rem 0;
        p {
            max-width: 500px;
            text-align: left;
            font-size: 20px;
            font-weight: 600;
        }
        .socials {
            padding: 2rem 0;
            .social-media-links {
                display: flex;
                gap: 1rem;
                li {
                    cursor: pointer;
                    .icons {
                        width: 2.5rem;
                        height: 2.5rem;
                        transition: 0.5s ease;
                        @media screen and (max-width: 900px) {
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            margin: auto;
                        }
                    }
                    .icons:hover {
                        color: blue;
                    }
                }
            }
        }
        @media screen and (max-width: 900px) {
            padding: 1rem 0;
        }
    }
    @media screen and (max-width: 900px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
}