header{
    display: flex;
    background-color: antiquewhite;
    justify-content: space-between;
    padding: 2rem 4rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    .navlist {
        display: flex;
        gap: 2rem;
        font-size: 1.2rem;
        font-weight: bold;
        padding-top: 10px;
        li {
            cursor: pointer;
            transition: 0.3s ease-out;
            @media screen and (max-width: 900px) {
                display: none;
            }
        }
        li:hover {
            color: green;
        }
        &.other-devices {
            position: absolute;
            display: block;
            background-color: antiquewhite;
            left: 0;
            top: 75px;
            transition: 0.4s ease;
            width: 100%;
            height: 25vh;
            text-align: center;
            margin: auto;
            li {
                display: block;
                text-transform: uppercase;
                font-size: 1rem;
                padding-top: 7px;
                column-gap: 3px;
            }
            &.close-button {
                display: inline;
            }
        }
    }
    .app {
        width: 30px;
        height: 30px;
        margin-top: 10px;
        display: none;
        @media screen and (max-width: 900px) {
            display: block;
        }
        &.close {
            display: none;
        }
    }
    @media screen and (max-width: 900px) {
        padding: 1rem 1rem;
    }
}