header{
    display: flex;
    background-color: var(--background);
    justify-content: space-between;
    padding: 2rem 4rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    .navlist {
        display: flex;
        gap: 2rem;
        font-size: 1.2rem;
        font-weight: bold;
        padding-top: 10px;
        @media screen and (max-width: 768px) {
            padding: 0 2rem;
            row-gap: 0.3px;
        }
        @media screen and (max-width: 400px) {
            margin: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        li {
            cursor: pointer;
            transition: 0.3s ease-out;
            @media screen and (max-width: 768px) {
                display: none;
                border: 1px solid var(--black);
                border-radius: 2rem;
                margin: 2rem 1rem; 
            }
            @media screen and (max-width: 400px) {
                display: none;
                border: none;
                padding: 1rem;
                font-size: 2px;
            }
            div {
                display: none;
                @media (max-width: 900px) {
                    display: block;
                    font-size: 2rem;
                }
                @media (max-width: 400px) {
                    display: block;
                    font-size: 2rem;
                }
            }
        }
        li:hover {
            color: var(--green);
        }
        &.other-devices {
            position: absolute;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            background-color: var(--background);
            left: 0;
            top: 75px;
            transition: 0.4s ease;
            width: 100%;
            height: 25vh;
            text-align: center;
            margin: auto;
            li {
                display: block;
                text-transform: uppercase;
                font-size: 1rem;
                padding-top: 7px;
                column-gap: 3px;
            }
            &.close-button {
                display: inline;
            }
        }
    }
    .app {
        width: 30px;
        height: 30px;
        margin-top: 10px;
        display: none;
        @media screen and (max-width: 900px) {
            display: block;
        }
        &.close {
            display: none;
        }
    }
    @media screen and (max-width: 900px) {
        padding: 1rem 1rem;
    }
}