:root {
  --black: #000000;
  --white: #ffffff;
  --orange: rgba(255, 165, 0);
}

.btn {
  border-radius: 1px solid var(--black);
  width: 10rem;
  padding: 1rem;
  background: var(--orange);
  border-radius: 25px;
  color: var(--white);
  text-align: center;
  cursor: pointer;
  max-width: max-content;
}

h3 {
  font-size: 2rem;
}
