:root {
    --background-green : rgba(206, 250, 141);
    --background: antiquewhite;
    --black: #000000;
    --white: #ffffff;
    --dark-orange: orangered;
    --green: green;
    --skyblue: skyblue;
    --grey: grey;
    --hover-blue: blue;
    --shadow-color: rgb(236, 236, 236);
}

body {
    background-color: var(--white);
}

.section-p {
    padding-top: 2rem;
}

.btn {
    width: max-content;
    font-size: 20px;
    padding: 0.5rem 2rem;
    border-radius: 30px;
    background-color: var(--dark-orange);
    border: none;
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
    box-shadow: 10px 20px 20px var(--shadow-color);
}